<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fiverr Lighthouse Report</title>
    </head>
    <body>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td colspan="5">
                    <h1 style="color: #4A73E8;">Lighthouse Report - {{date}}</h1>
                    <p style="margin-top: -5px; font-size: 1em; padding-bottom: 20px; color: #62646A;">Please note that the <b>Performance</b> score should be considered an approximation and that 2-3 point swings in either direction is completely normal.</p>
                </td>
            </tr>
        {{#each dataFromApi}}
            <tr>
                <td colspan="5" style="border-top: 1px solid #DADBDD;">&nbsp;</td>
            </tr>
            {{#each this}}
                <tr>
                    <td colspan="5" style="font-size: 1.5em; color: #404145;"><a href="{{linkToPageSpeed requestedUrl}}">{{pageName}}</a> - {{capitalize strategy}}</td>
                </tr>
                <tr>
                    {{#details}}
                        <td valign="top" style="padding: 10px 10px 20px 10px; font-size: 1em;">
                            <div style="background: #fff; border-radius: 50%; width: 4em; height: 4em; line-height: 4em; margin: 0 auto 10px auto; border: 0.25em {{getScoreColor score}} solid;">
                                <b style="font-size: 24px; color: {{getScoreColor score}};">{{score}}</b>
                            </div>
                            {{name}}
                        </td>
                    {{/details}}
                </tr>
            {{/each}}
        {{/each}}
            <tr>
                <td colspan="5" style="color: #404145; border-top: 1px solid #dadbdd; padding: 20px; font-size: 1em;">
                    <a href="https://developers.google.com/web/tools/lighthouse/v3/scoring" target="_blank">Learn more about Lighthouse scoring</a> | <a href="https://developers.google.com/speed/docs/insights/v5/about" target="_blank">Learn more about Google PageSpeed Insights</a>
                </td>
            </tr>
        </table>
    </body>
</html>